@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Media Query for Small Screens */
@media (max-width: 767px) {

  /* Remove Body Margins/Padding (if applicable) */
  body {
    margin: 0;
    padding: 0;
  }

  /* Adjust Content Height (if needed) */
  .container, /* Adjust selector as needed */
  .services, /* Adjust selector as needed */
  .foot { /* Adjust selector as needed */
    min-height: 100vh; /* Set minimum height to viewport height */
  }
}

.header{
    min-height: 20vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}
#below-logo{
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: inline-block;
    font-style: bold;
    position: absolute;
    bottom:88%;
    padding-left: 10px;
   margin-left: 80px;
    
}
nav{
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 2% 6%;
    /*z-index: 100;*/
}
nav img{
    width: 80px;
    border-radius: 50%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li a ::after{
    content: '';
    height:2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: width 0.5s ease;
}
.nav-links ul li a :hover::after{
    width: 100%;
}
/* Styles for smaller screens */
@media (max-width: 768px) { /* Adjust max-width as needed */
  #below-logo{
    position: relative;
  }
  nav {
    position: fixed; /* Make nav fixed for small screens */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure nav stays on top */
  }
}

.text-box{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/backgroundKank.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-box p{
    color: white;
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
    margin:  0 ;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(#419197,#419197);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor {
  100%{
    background-position: 0 0;
  }
}

/* For small screens (up to 768px) */
@media (max-width: 768px) {
  .text-box{
    min-height: 105vh;
  }
  .text-box p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
  .header{
    width: 112%;
  }
}

 /* Hamburger menu styles */
 .nav-toggle {
  display: none;
}
.nav-toggle-label {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-end;
}

.nav-toggle-label span {
  display: block;
  background: #fff;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s;
}

/* Show the hamburger menu on small screens */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      width: 100%;
      text-align: center;
      
      
  }

  .nav-links ul {
      flex-direction: column;
      
  }

  .nav-links ul li {
      display: block;
      padding: 10px 0;
      
  }

  .nav-toggle-label {
      display: flex;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
      display: block;
  }
  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      margin-bottom: 10px;
  }

  .nav-toggle-label {
      position: static;
      align-self: flex-end;
  }
  
}


/*------------- Block -----------*/ 

/* General styles */
  
  .block {
    background-color: #fff; /* Set a white background for the main section */
    padding: 40px; /* Add some padding for content spacing */
    max-width: 800px; /* Set a maximum width to keep it responsive */
    margin: 0 auto; /* Center the section horizontally */
  }
  
  /* Kicker style */
  .kicker {
    font-size: 17px;
    margin: 20px;
    text-align: center; /* Center the kicker text */
  }
  
  /* Title style */
  .title {
    font-size: 32px;
    color: #333; /* Set a dark gray color for the title */
    margin: 20px;
    text-align: center; /* Center the title text */
    background: url(images/blushstroke.png);
    background: linear-gradient(to right, #fff, #f9b933);

  }

  /* Block0 style */
  .block0 p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: center; /* Center the paragraph text */
  }
  
  /* Block1 style */
  .block1 {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-between; /* Distribute items evenly */
    margin-top: 40px; /* Add some margin between title and block items */
  }
  
  /* Block item style */
  .block-item {
    text-align: center; /* Center the content within each block item */
    margin: 0 10px; /* Add some margin between items */
  }
  
  .block-item img {
    width: 80px; /* Set a width for the icons */
    height: 80px; /* Set a height for the icons */
    margin-bottom: 10px; /* Add some margin below the icons */
    color: rgb(65,145,151)
  }
  
  .block-item p {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px; /* Add some margin below the numbers */
    
  }
  
  .block-item span {
    font-size: 14px;
    color: #999;
  }
  /* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  p.kicker{
    font-size: 23px;
  }
  
  .block1 {
    flex-wrap: wrap; /* Wrap items on small screens */
  }
  .block-item {
    text-align: center; /* Maintain centering on smaller screens */
    margin: 0 auto 10px; /* Adjust margins for vertical stacking */
  }
}
 

  /*----------------- Work Areas -------------------------*/

  .work-areas{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  #work-areas-h3{
    text-align: center;
  }
  .row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
  }
  #work-areas{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  .paragraph{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
  }
  .work-areas-col{
      flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
  }
  .work-areas-col img{
      width: 85%;
      border-radius: 10px;
      margin-left: 10px;
  }
  .work-areas-col p{
      padding: 10px;
  }
  .work-areas-col h3{
      margin-top: 16px;
      margin-bottom: 15px;
      text-align: left;
  }
/* Media Query for small Screens */
@media (max-width:767px){
  .work-areas {
    padding-top: 50px; /* Adjust padding for smaller screens */
  }

  .work-areas-col {
    flex-basis: 100%; /* Make each column take full width on small screens */
    margin-bottom: 20px; /* Adjust margin for better spacing */
  }
  h1.kicker{
    font-size: 23px;
  }
  p.p-workAreas{
    margin-bottom: 50px;
  }
}


/*-------------------- Services -------------------*/

.container{
  width: 60%;
  height: 100vh;
  padding: 0 8%;
 
  
}
.container h1{
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
  
}
.container h1 ::after{
  content: '';
  background:#419197;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.roww{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.service{
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.15s;
}
.service i{
  font-size: 40px;
  margin-bottom: 10px;
  color: #419197;
}
.service h2{
  font-weight: 600;
  margin-bottom: 8px;
}
.service:hover{
  background: black;
  color: #fff;
  transform: scale(1.0);
}
/* Responsive Adjustments */
@media (max-width: 767px) {
  /* Adjust container width for smaller screens */
  .container {
    width: 100%; /* Make full width on small screens */
  }
  
  .title{
    font-size: 14px;
  }

  /* Adjust grid columns for smaller screens */
  .service {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}




/*----------------------- Call To Action ----------------*/

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background:transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #419197;
  background: #419197;
  transition: 1s;
}

.cta{
  margin: 160px auto;
  width: 86%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/about.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
/* Responsive Styles */
@media (max-width: 767px) {
  .cta {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }
}
@media(max-width:700px){
  .cta h1{
      font-size: 24px;
  }
}

 
/*---------------- links -----------------------------*/
.foot{
  margin-top: 150px;
  width: 100%;
  padding:100px 15% ;
  background:black;
  color: #efefef;
  display: flex;
  justify-content: space-between;
  
}

.foot div{
  text-align: center;

}
.foot-col-2{
  flex-grow: 2;
  margin-right: 60px;
}
.foot div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.foot-col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom:10px ;
}
.foot-col-3{
  margin-left:120px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  
}
button[type="submit"] {
  padding: 12px 24px;
  background-color:#222831;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #419197;
}


.social-icons{
  margin-top: 30px;

}
.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}

.foot div:not(:last-child){
  margin-right: 50px;
}
   /* Responsive Adjustments */
@media (max-width: 767px) {
  .foot {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }

  .foot div {
    margin-bottom: 30px; /* Add space between sections on small screens */
  }

  .foot-col-1,
  .foot-col-2,
  .foot-col-3 {
    width: 100%; /* Make each column full width on small screens */
  }

  .foot-col-2 {
    margin-right: 0; /* Remove margin on small screens */
  }

  .foot-col-3 {
    margin-left: 0; /* Remove margin on small screens */
  }

  form input {
    width: 100%; /* Make input field full width on small screens */
  }
}
 
/*------------- footer -------------*/

footer{
    min-height: 10vh;
    
}
footer p{
    margin: 0.4em;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 35px;
}
hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.accent{
    font-weight: bold;
}
.footer-link {
  color: white; 
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Add emphasis */
}

@media(max-width:769px){
  footer{
    width:120%;
  }
}

